@tailwind base;
@tailwind components;
@tailwind utilities;

.user-initials-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #38a169;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #38a169;
  }