/* Header.css */

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 16px;
    top: 16px;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }
  
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .menu-item {
    padding: 0.5em 0;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .menu-item:hover {
    color: #a90000;
  }
  
  @media (min-width: 768px) {
    .bm-burger-button {
      display: none;
    }
  }
  